/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Police et taille du texte pour la navbar */
.navbar-nav .nav-link {
  font-size: 20px;
}

/* Styles pour la barre de navigation personnalisée */
.custom-navbar {
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 10px 0; /* Espacement intérieur */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}


/* Styles pour les liens dans la barre de navigation */
.custom-navbar .navbar-nav .nav-link {
  font-size: 18px; /* Taille de la police */
  color: #333; /* Couleur du texte */
}

/* Styles pour le bouton de recherche dans la barre de navigation */
.custom-navbar .form-control {
  width: 300px; /* Largeur du champ de recherche */
}

/* Taille de l'image dans le navbar */
.img_header {
  width: 120px;
  height: auto;
  object-fit: cover;
}

/* Taille de la police pour les paragraphes */
p {
  font-size: 17px;
}

/* Style pour les éléments de la classe navbar-nav */
.navbar-nav.me-auto li.nav-item {
  margin-right: 10px; /* Espacement entre les éléments */
}

/* Style pour les éléments dans la classe navbar-nav */
.navbar-nav.me-auto li.nav-item a.nav-link {
  color: #333; /* Couleur du texte */
}

/* Cards pour les sections */
section {
  margin-bottom: 20px; /* Espacement entre les sections */
}

.card {
  border: 2px solid #ccc; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 20px; /* Espacement interne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}
.listing {
  font-size: 17px;
}
main {
  background-image: url("./images/Logo-PE-gauche.png");
}
